.chat-selector {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h2 {
        font-size: em(40px);
    }

    .btns {
        width: 92%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        // row-gap: 20px;
        column-gap: 70px;

        button {
            @include choice-btn;
            margin: 5px 0;
        }
    }

}

.image-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    button {
        width: 100%;
        @include choice-btn
    }

    &.top {
        .img-container {
            margin-bottom: 15px;
        }
    }

    .img-container {
        margin: 35px 0 15px;
    }
}

.img-container {
    height: 100px;
    width: 100px;
    color: $white;

    img {
        width: 100%;
        height: 100%;
        color: $white;
    }
}