* {
    box-sizing: border-box;
}

::selection {
    background-color: $purple;
    color: $pink;
}

html {
    font-family: interphase;
    line-height: 1.6;
    color: $white;
    height: 100vh;

}

body {
    font-size: rem(18px);
    margin: 0;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#602e9e+0,2c1e4a+51,2c1e4a+100 */
    background: #602e9e;
    /* Old browsers */
    background: -moz-linear-gradient(90deg, #602e9e 0%, #2c1e4a 51%, #2c1e4a 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(90deg, #602e9e 0%, #2c1e4a 51%, #2c1e4a 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(90deg, #602e9e 0%, #2c1e4a 51%, #2c1e4a 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#602e9e', endColorstr='#2c1e4a', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: interphaseB;
    margin: 0 0 0.6em;
    line-height: 1;
}


section,
main,
footer {
    padding: 5px;
}

img {
    width: 100%;
}

p {
    margin: 0 0 1em;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.content {
    height: 100vh;
    min-height: 100%;
}