.main .choices {
    padding-bottom: 150px;
}

.home-page {
    display: flex;
    align-items: center;
    height: 100vh;
    gap: 100px;
    justify-content: center;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

    h1 {
        font-size: em(60px);

        span {
            color: $pink;
        }
    }

    div {
        display: flex;
        flex-direction: column;
        align-items: center;

        span {
            font-size: em(25px);
        }
    }

    button {
        margin-top: 10px;
        @include btn;
    }
}

.images {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    div {
        height: 100%;
        position: relative;
        top: 10px;
        z-index: 5;
        height: $ball-size;

        img {
            height: 100%;
            width: 100%;
            object-fit: scale-down;
        }
    }

    div:last-child {
        height: $ball-size + 5%;
        top: -75px;
        z-index: 0;
    }
}

@media (max-width: $breakpoint-xs) {

    /* Your CSS rules for extra small devices here */
    .content {
        padding: 0;
    }

    .home-page {
        padding: 0;

        .images {
            display: none;
        }

        .text {
            h1 {
                font-size: em(40px);
            }

            div {
                font-size: em(11px);
            }
        }
    }

    .image-button {
        display: none;

        .img-container {
            display: none;
        }
    }

    .choices {
        padding: 0;
    }
}

@media (min-width: $breakpoint-xs) and (max-width: $breakpoint-sm) {
    .home-page {
        padding: 0;

        .images {
            height: 480px;
        }

        .text {
            h1 {
                font-size: em(50px);
            }

            div {
                font-size: em(11px);
            }
        }
    }
}

@media (min-width:$breakpoint-sm) and (max-width: $breakpoint-md) {
    .home-page {
        padding: 0;

        .images {
            height: 480px;
        }

        .text {
            h1 {
                font-size: em(50px);
            }

            div {
                font-size: em(11px);
            }
        }
    }
}

@media (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) {
    /* Your CSS rules for large devices here */
}

@media (min-width: $breakpoint-xl) {
    /* Your CSS rules for extra large devices here */
}