// color variables
$blk: #070606;
$light-drk: #0e1318;
$gray: #807676;
$purple: #7d2ae8;
$drk-purple: #2c1e4a;
$purple-1: #602e9e;
$pink: #cb6ce6;
$red: #f84856;
$white: #ffffff;

// ball size
$ball-size: 26%;